**/.idea/*
src/MetaInject.Common/obj/**
src/MetaInject.Common/bin/**
src/MetaInject/obj/**
src/MetaInject/bin/**
src/MetaInject.Package/obj/**
src/MetaInject.Package/bin/**

src/tests/MetaInject.Common.Tests/bin/**
src/tests/MetaInject.Common.Tests/obj/**
src/tests/MetaInject.Tests/bin/**
src/tests/MetaInject.Tests/obj/**

src/samples/MetaInject.Console/bin/**
src/samples/MetaInject.Console/obj/**

src/NuGetPackages/**

**/*.user